container{
 background-color: white;
}


#image-section{

max-width: 100%; 
display: block; 
height: auto;
}

.example {
    stroke: #66BFBF;
    border: 1px solid #eaeef5;
    background-color: #E4F9F5;
    
  }